.main-nav {
    position: relative;

    width: 320px;
    min-height: 51px;

    margin: 0 auto;

    background-color: white;
    z-index: 5;
} 

.main-nav__toggle {
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 2;

    display: block;
    width: 70px;
    height: 50px;

    background-color: white;

    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 1px solid #706d6b;

    &:hover,
    &:active {
        background-color: #173475;
        transition: 300ms;
    }

}

.main-nav--closed .main-nav__toggle::before {
    content: "";

    position: absolute;
    top: 15px;
    left: 17px;

    width: 36px;
    height: 2px;

    background-color: #173475;
    box-shadow: 0 8px 0 0 #173475, 0 16px 0 0 #173475;
}

.main-nav--closed .main-nav__toggle:hover::before {
    background-color: white;
    box-shadow: 0 8px 0 0 white, 0 16px 0 0 white;
    transition: 500ms;
}

.main-nav--opened .main-nav__toggle{
    top: 0;
    right: auto;
    left: 0;

    &::before,&::after {
        content: "";

        position: absolute;
        top: 24px;
        left: 18px;

        width: 36px;
        height: 2px;

        background-color: #173475;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
    background-color: white;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-list {
    width: auto;
    font-weight: bold;
}

.site-list a {
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;

    font-size: 18px;
    line-height: 24px;
    color: #173475;
    text-transform: uppercase;
    text-decoration: none;

    background-color: white;
    border-top: 1px solid rgb(102, 101, 101);
    border-bottom: 1px solid rgb(102, 101, 101);
}



.site-list a[href] {
    &:hover {
        color: white;
        background-color: #173475;
        border-top-color: #755a46;
        transition: 100ms;
    }

    &:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #6a4d38;
        border-top-color: #6a4d38;
    }
}

.user-list {
    width: auto;
    background-color: white;
}

.user-list__login {
    position: relative;

    display: block;

    line-height: 18px;
    color: #173475;

    text-decoration: none;
}

.user-list__login-icon {
    position: absolute;

    top: 17px;
    left: 21px;
    opacity: 0.3;

    fill: #ffffff;
}

.site-list__item--active{
    color:#173475;
    border: 1px ;
}

@media (max-width:$mobile-width-only) {
    .main-nav--closed .site-list__item {
        display: none;

        &--active{
            display: block; 
        }
    }

    

    .main-nav--closed .site-list__item--active a {
        color: #173475;
        padding-right: 70px;
        padding-left: 70px;

        text-align: center;

    
    }

    .main-nav--closed .user-list__item {
        display: none;
        background-color: white;
        padding-top: 20px;
    }

    .main-nav--opened .main-nav__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 70px;
        z-index: 10;

        min-height: 45vh;

        background-color: white;
    }

    .main-nav--opened .main-nav__wrapper::before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 7px;
        height: 100%;

        box-shadow: inset 4px 0 7px rgba(0,0,0,0.4);
    }

    .main-nav--opened .main-nav__toggle{
        left: -70px;
    }

    .main-nav--nojs .main-nav__toggle {
        display: none;
    }

    .main-nav--nojs .main-nav__wrapper {
        position: static;
        min-height: 0;
    }

    .main-nav--nojs .site-list__item {
        display: block;
    }

    .main-nav--nojs .site-list__item--active a {
        padding-right: 21px;
        padding-left: 21px;

        text-align: left;
    }

    .main-nav--nojs .user-list__item {
        display: block;
        background-color: #6a4d38;
    }


}


@media (min-width:$tablet-width) {
    .main-nav {
        width: auto;
        margin: 0;

        background-color: white;
    }

    .main-nav__toggle {
        display: none;
    }

        .main-nav__wrapper {
            width: 640px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        
        .site-list {
            width: 570px;

            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .site-list__item {
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }

            &--active {
                position: relative;

                &::after {
                    content: "";

                    position: absolute;
                    right: 0;
                    bottom: -3px;
                    left: 0;

                    height: 3px;

                    background: #173475;
                }
            }
        }

        .site-list__item a{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 25px;
            padding-bottom: 23px;

            background: none;
            border: none;
            }

            .site-list__item a[href]{
                &:hover {
                    color: white;
                    background-color: #173475;
                }

                &:active {
                    color: #173475;
                    background-color: white;

                    opacity: 0.3;
                }
                

                }

        .user-list {
            width: 60px;
            background-color: white;
            padding-top: 5px;
            
        }

        .user-list__login {
            width: 104px;
            height: 78px;
            padding: 0;

            font-size: 0;

            &:hover {
                background-color: #000000;
            }

            &:hover .user-list__login-icon{
                opacity: 0.7;
                transition: 200ms;
                fill: #624530;
            }


        }

        .user-list__login-icon {
            top: 29px;
            left: 12px;
        }
    }

@media (min-width:$desktop-width) {
    .main-nav__wrapper {
        width: 960px;
    }

    .site-list {
        width: 780px;
    }

    .site-list__item {
        margin-right: 0;

        &--active::after {
            right: 30px;
            left: 30px;
        }
    }

    .site-list__item a {
        padding-right: 31px;
        padding-left: 31px;
    }

    .site-list__item a[href] {
        &:hover {
            color: #ffffff;

            background-color: #173475;
        }

        &:active {
            color: rgba(8, 0, 0, 0.3);
    
            background-color: #ffffff;
            opacity: 1;
        }
    }

    .user-list {
        width: auto;
        max-width: 160px;
    }

    .user-list__login {
        position: relative;

        width: auto;
        height: auto;
        width: 104px;


        &:hover {
            color: #000000;

            background-color: #ffffff;
        }

        &:active {
            color: rgba(0, 0, 0, 0.3);

            background-color: #ffffff;
        }

    }

    .user-list__login {
        left: 15px;
    }
}