.page-header {
    display: flex;
    flex-direction: column;
}

.page-header__logo {
    height: 85px;
    padding-top: 30px;
    text-align: center;
    box-sizing: border-box;
}

.page-header__logo img {
    width: 226px;
    height: 30px;
    display: inline-block;
}

.carousel-details{
    width: 320px;
    margin: 0 auto;
}

.main-description{
    font-family: 'Poppins';

    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 20px;
    width: 320px;
    padding: 20px 0px;
    margin: 0 auto;
    color:black;
}

.main-description-item-1{
    margin-bottom: 20px;
}

@media (min-width:$tablet-width) {

    .page-header-our-works,.page-header-form{
        background-color: #f8f5f2;
        width: 768px;
        margin: 0 auto;
    }

    .page-header__logo {
        order: 2;
        height: 300px;
        

        width: 100%;

        background-color: white;
        background-image: url("../img/back-tablet.png");
        background-repeat: no-repeat;
        background-position: center -9px;
    }

    .page-header__logo-form, .page-header__logo-our-works{
        clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 50% 100%, 0 80%);
        background-color: #f8f5f2;
    }

    .page-header__logo-second-version {
        height: 207px;
    }

    .page-header__logo img {
        display: none;
        width: 370px;
        height: auto;
        margin-top: 40px;
        background-color: red;
    }

    .carousel-details{
        width: 768px;
    }

    .main-description{
        z-index: -2;
        margin-top: -60px;
        border-left: 1px solid #9c9297;
        border-right: 1px solid #9c9297;
        padding-left: 30px;
        padding-right: 30px;
        padding-top:60px;
        padding-bottom: 30px;
        width: 768px;
        background-color: white;
        box-sizing: border-box;

        flex-direction: row;
    }

    .main-description-item-1{
        margin-bottom: 0;
    }
}

@media (min-width:$desktop-width) {

    .page-header-our-works,.page-header-form{
        width: 1200px;
        background-color: #f8f5f2;
    }

    .page-header__logo {
        height: 330px;

        width: 1200px;
        margin: 0 auto;

        background-image: url("../img/back-desktop.png");
        background-size: cover;
    }

    .page-header__logo-second-version {
        height: 308px;
    }

    .page-header__logo img {
        margin-top: 57px;
        display: none;
    }

    .main-description{
        z-index: -2;
        margin-top: -70px;
        padding-top:100px;
        padding-bottom: 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 1200px;
        background-color: white;

        box-sizing: border-box;
    }

    .main-description-item-1{
        padding-right: 50px;
        box-sizing: border-box;
        margin-bottom: 0;
    }



    .main-description-item-2{
        padding-left: 50px;
        box-sizing: border-box;
    }

   

    .carousel-wrapper{
        width: 1200px;
        max-width: 0 auto;
        background-color: #C2C3C3;
    }

    .carousel-details{
        width: 960px;
        margin: 0 auto;
        font-size: 50px;
    }

    
}
