@font-face {
    font-weight: normal;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/PTSansNarrow-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/PTSansNarrow-Bold.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
    font-style: normal;
    font-display: swap;
}



body {   
    min-width: 320px;
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 27px;

    font-family: 'PT Sans Narrow', 'Arial', sans-serif;

    color: #f7f4f1;
    font-style: normal;

    background-color: white;
    
}

@media (min-width:$desktop-width),(min-width:$tablet-width){
    .index{
        background-color:white;
    }
} 

    img {
        max-width: 100%;
        height: auto;

        margin: 0;
        padding: 0;

        display: block;
    }

    .visually-hidden:not(:focus):not(:active) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;

        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }

